<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Carta</title>
    <meta name="Descripcion" content="Día a día construyendo un futuro donde el vino nunca falte. Precios, promociones, información y mucho más">
    <meta name="keywords" content="Vino, viñedos, cabernet, merlot, tinto, syrah, san juan, mendoza, cordoba, catas, degustacion, sommelier">
    <link href="../assets/Css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />


    <style>
        .grid-container {
          display: grid;
          grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
          grid-gap: 100px;
          justify-items: center;
          align-items: center;
        }
        
        .grid-item1 {
          background: lightcyan;
          text-align: center;
          border: gray 5px solid;
          width: 1100px;
          height: 200px;
        }

        h2 {
            text-align: center;
        }
        </style>


</head>

<body>
  
  <nav class="navbar navbar-expand-sm bg-danger navbar-dark sticky-top">
    <!-- Brand -->
    <a class="text-body navbar-brand" href="../index.html">Vinonline</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/Galería.html">Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/Carta.html">Carta</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Viñedos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Mendoza</a>
          <a class="dropdown-item" href="#">Córdoba</a>
          <a class="dropdown-item" href="#">San Juan</a>
        </div>
      </li>
    </ul>
  </nav>
   
    <h2>Carta</h2>
    
    <Div class="grid-container">
        <div class="grid-item1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, est.</div>
        <div class="grid-item1"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod nam omnis, amet reprehenderit sequi at veritatis quam voluptates libero nostrum eum delectus natus tempore tenetur exercitationem esse vero quo eveniet.</div>
        <div class="grid-item1"> Lorem ipsum dolor sit amet.</div>
        <div class="grid-item1"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur dolorem dolor odio, suscipit repudiandae minus.</div>
        <div class="grid-item1">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius doloremque hic aliquam mollitia enim minus, architecto laborum!</div>
        <div class="grid-item1"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates pariatur totam impedit placeat, sequi obcaecati magnam autem? Quaerat dolorem dignissimos sint?</div>
        <div class="grid-item1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, illum.</div>
        <div class="grid-item1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error ipsum corrupti enim quibusdam dolores animi repellat aut neque. Doloribus reprehenderit repudiandae cupiditate illo accusamus modi, ea dolores voluptate optio.</div>
    </div>

    <br> <hr>

</body>
</html>